$bg-clr: #F0F1F3;
$icon-clr: #b3a3a3;
$white : #ffffff;
$primary-clr: #FFA401;
$bg-clr2:#d1f3e0;
$bg-clr3:#fff2d8;
$bg-clr4:#e1f1ff;
$bg-clr5:#ffeaea;
$btn-clr3: #e15959;
$btn-clr1: #bcf0da;
$btn-clr2: #fcd9bd;
$btn-clr4:#042954;
$btn-text1: #014737;
$btn-text2: #771d1d;
$form-label: #4b5563;
$form-bg: #f0f1f3;
$icon-clr2: #0a00f5;
$bg-drop: #EAF1FB;
$bg-hover: #c7d9f3;