$bg-clr: #F0F1F3;
$icon-clr: #b3a3a3;
$white : #ffffff;
$primary-clr: #FFA401;
$bg-clr2:#d1f3e0;
$bg-clr3:#fff2d8;
$bg-clr4:#e1f1ff;
$bg-clr5:#ffeaea;
$btn-clr1: #bcf0da;
$btn-clr2: #fcd9bd;
$btn-text1: #014737;
$btn-text2: #771d1d;

