// .about-studetns {
//     padding-top: 10px;
//     .each-students{
//         display: flex;
//         justify-content: space-between;

//         .studentsid {
//             h3{
//                 font-size: 25px;
//                 padding-top: 20px;
//                 padding-left: 25px;
//             }
//         }
//         .student-img {
//             border: 1px solid #000;
//             width: 125px;
//             height: 150px;
//             padding-right: 50px;
//             margin: 10px  15px 0 0;



//         }

//     }
// }


// $border-color: black;

// $background-color-header: #f2f2f2;
// $padding: 10px;

// .each-student {
//     display: flex;
//     justify-content: space-between;

//     .student-name {
//         padding: 40px 0 0px 9px;

//         h2 {
//             font-size: 25px;
//             padding-top: 20px;


//             @media (max-width:576px ) {
//                 font-size: 18px;
//                 br {
//                     display: block;
//                 }
//             }

//         }
//     }

//     .student-img {
//         width: 125px;
//         height: 150px;
//         border: 1px solid #000;
//         padding-right: 50px;
//         margin: 10px 15px 0 0;

//         img {
//             width: 125px;
//             height: 150px;
//             text-align: center;
//             display: flex;
//             justify-content: center;
//             align-content: center;
//         }

//     }

// }

// .details-table {
//     width: 100%;
//     border-collapse: collapse;
//     margin-top: 20px;
//     margin-bottom: 20px;

//     th,
//     td {
//         border: 1px solid #000;
//         padding: $padding;
//         text-align: left;
//     }

//     th {
//         background-color: #FFFFFF;
//     }


// }

.about-student {
    padding-top: 30px;
    margin: 0 30px 10px 30px;

    .for-image-section {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        .studemt-school-image {
            display: flex;
            // justify-content: center; 
            border-radius: 10px;
            margin-bottom: 25px;
          


            img {
                width: 200px;
                height: 200px;
                border-radius: 10px;
                margin-bottom: 10px;

            }
        }

        .student-school {
            width: 100%;
            display: flex;
            justify-content: space-between;

            .school-about {
                padding-left: 30px;
                padding-top: 20px;

            }

        }

        .school-logo {
            padding-right: 40px;
            display: flex;
            // justify-content: end;

            img {
                width: 200px;
                height: 200px;
                border-radius: 10px;
                margin-bottom: 10px;
            }
        }

    }

    .student-admin-form {
        background: #fff;
        padding: 30px;
        border-radius: 8px;
        padding-top: 40px;
        margin-bottom: 30px;

        .for-student-input {
            padding-top: 5px;
        }

        .labal-title {
            font-size: 20px;
            font-weight: 400;
            padding-bottom: 8px;
        }

        input {
            box-shadow: none;
            outline: none;

            &:focus {
                box-shadow: none;
                outline: none;
                border: var(--bs-border-width) solid var(--bs-border-color);

            }
        }

    }

    .labal-title {
        font-size: 20px;
        font-weight: 400;
        padding-bottom: 8px;
    }

    input {
        box-shadow: none;

        &:focus {
            box-shadow: none;
            outline: none;
        }
    }

    .form-select {
        box-shadow: none;

        &:focus {
            // border-color: light-dark(rgb(118, 118, 118), rgb(133, 133, 133)) !important; 
            outline: none;
            box-shadow: none;
            border: var(--bs-border-width) solid var(--bs-border-color);
        }
    }

    .student-edit-btn {
        display: flex;

        .student-edit {
            display: flex;
            align-items: center;
            gap: 0.2rem;
            background-color: #bcf0da;
            color: #000;
            border-radius: 8px;
            padding: 8px;
        }
    }


}

@media (max-width:992px) {
    .school-logo {
        display: flex;
        width: 100%;
        justify-content: center;
    }
}

@media (max-width:550px) {
    .school-name {
        font-size: 20px;
    }
    .school-address {
        font-size: 18px !important;
    }
    br {
        display: none;
    }
    .school-logo {
        display: flex;
        width: 100%;
        justify-content: center;
    }
    .about-student {
        margin: 0 ;
    }
    .for-image-section {
        .studemt-school-image {
            img {
                display: none;
            }
        }
        .school-logo {
            width: 100% !important;
            display: flex;
            justify-content: center !important;
            padding-bottom: 15px;
            display: none;
        }

    }
}