input {
    &:focus-within {
        border: 1px solid #dee2e6;

    }
    &:focus {
        border: 1px solid #dee2e6;
        border-color: #dee2e6 !important;
    }
 
}

select {
    &:focus {
        border-color: #dee2e6 !important;
    }
}

svg.MuiSvgIcon-root.MuiSvgIcon-fontSizeMedium.delete-icon.css-i4bv87-MuiSvgIcon-root {
    display: flex;
    justify-content: center;
    align-items: center;
    color: red;
    margin-top: 4px;
}