.table-head{
    display: flex;
    align-items: center;
    gap: 2rem;
    padding: 1.5rem;
    flex-wrap: wrap;
    justify-content: space-between;
    
}
.add-btn{
    display: flex !important;
    align-items: center;
    gap: 0.2rem;
    background-color: $btn-clr1 !important;
    color: $btn-text1 !important;
    border-radius: 8px;
    padding: 8px;
    border: none !important;
}
.set-view-btn{
    display: flex !important;
    align-items: center !important;
    color: red !important;
}


/* styles.css (or any appropriate CSS file) */
.table-container {
    overflow-y: auto;
    max-height: 100%; /* Adjust the height as needed */
  }
  .fixed-header-one {
    position: sticky;
    top: 0;
    background-color: white; /* Ensure the background is white for header visibility */
    z-index: 10; /* Ensure it's above other content */

    @media (max-width:768px) {
      position: static;
    }


    
  }
  .fixed-header {
    padding-bottom: 10px;
    @media (max-width:768px) {
      position: static;
    }

  }
  .fixed-header th {
    position: sticky;
    top: 70px;
    background-color: #187b98 !important; /* Ensure the background is white for header visibility */
    z-index: 10; /* Ensure it's above other content */
    color: #fff !important;
    font-weight: 500;


    @media (max-width:768px) {
      position: static;
    }

    
  }
  

  .table-container {
    max-height: 650px;
  }