.table-head{
    display: flex;
    align-items: center;
    gap: 2rem;
    padding: 1.5rem;
    flex-wrap: wrap;
    justify-content: space-between;
    
}
.add-btn{
    display: flex;
    align-items: center;
    gap: 0.2rem;
    background-color: $btn-clr1 !important;
    color: $btn-text1 !important;
    border-radius: 8px;
    padding: 8px;
    border: none !important;
}