.table-head{
    display: flex;
    align-items: center;
    gap: 2rem;
    padding: 1.5rem;
    flex-wrap: wrap;
    justify-content: space-between;
    
}
.add-btn{
    display: flex !important;
    align-items: center;
    gap: 0.2rem;
    // background-color: $btn-clr1 !important;
    background-color: $bg-item !important;
    color: $btn-text1 !important;
    border-radius: 8px;
    padding: 8px;
    border: none !important;
    color: $white !important;
}
.set-view-btn{
    display: flex !important;
    align-items: center !important;
    color: red !important;
}

.table {
    position: relative;
    tr {
        &:nth-child(2) {
            margin-top: 20px;
        }
    }
    .its-t-head {
        position: sticky;
        top: 0;
        background-color: $bg-item;
        color: #fff !important;
        tr {
          th {
            color: #fff;
          }
        }
    }
}

.t-custom {
    background: white;
    position: relative;
    margin-top: 30px;


    @media (max-width:992px ) {
        margin: 70px 0;
        border-radius: 13px;
    }
}