* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none !important;
}

th,
td {
  background-color: transparent !important;
}

.bg-green {
  background-color: $bg-clr2;
}

.bg-blue {
  background-color: $bg-clr4;
}

.bg-yellow {
  background-color: $bg-clr3;
}

.bg-pink {
  background-color: $bg-clr5;
}


input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;

  i.bi.bi-justify {
    display: none !important;
  }

  .form-control {
    box-shadow: none !important;
    border-color: unset !important;
  }

  .form-control:focus {
    box-shadow: unset !important;
    border-color: unset !important;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
  appearance: none;
}


@media(max-width:400px) {

  html,
  body {
    margin: 0 !important;
    padding: 0 !important;
    overflow-x: hidden !important;
  }
}

.dash {
  // background-image: url(../Images/bg1.jpg);
  background-image: url(../Images/bgmain.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.sidebar {
  backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.5);

}
.delete-button {
  display: flex;
  justify-content: center;
  align-items: center;

  .delete-icon {
    color: red;
  }
}


.for-name {
  text-transform: capitalize !important;

}

.table-container {
  max-height: 650px;
}

.delte-iocn {
  display: flex;
  justify-content: center;
  align-items: center;
  svg {
    color:red;
  }
}


.table {
  position: relative;
  tr {
      &:nth-child(2) {
          margin-top: 20px;
      }
  }
  .its-t-head {
      position: sticky;
      top: 0;
      background:#187b98 ;
      color: #fff !important;
      tr {
        th {
          color: #fff;
        }
      }
  }
}

.t-custom {
  background: white;
  position: relative;
}


.min-vh-100 {
  overflow-x: hidden;
}

.z-99 {
  z-index: 99;
}

.main-content{
  overflow-x: hidden;

}





.list-group-item.active {
  background-color: #00cec9;
}