.fee-counter-main {
    margin: 0 auto;
    .student-admin-form {
        background: $white;
        padding: 30px;
        border-radius: 8px;
        padding-top: 40px;
        margin-bottom: 30px;
        margin-top: 30px;
    }

    .for-edit-btn {
        display: flex;
        justify-content: space-between;

        .fee-edit-btn {
            .student-edit-btn {
                .student-edit {
                    display: flex;
                    align-items: center;
                    gap: 0.2rem;
                    background-color: $bg-item;
                    color: $black;
                    border-radius: 8px;
                    padding: 8px;
                    color: $white;
                    font-weight: 600;
                    border: none;
                    padding: 12px;
                    transition: 0.2s all;

                    &:hover {
                        background-color: $primary-color2;
                        transition: 0.2s all;

                    }
                }

            }

        }

        .fee-edit-btn2 {

            .student-edit-btn {
                .student-edit {
                    display: flex;
                    align-items: center;
                    gap: 0.2rem;
                    background-color: $light_green;
                    color: $black;
                    border-radius: 8px;
                    padding: 8px;
                    color: $white;
                    font-weight: 600;
                    border: none;
                    padding: 12px;
                }

            }

        }

    }

    .for-student-img {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        flex-direction: column;

        img {
            width: 170px;
            height: 170px;
            border-radius: 20px;

        }

        p {
            padding-top: 10px;
            font-size: 24px;
            font-weight: 600;
        }
    }

    .for-student-input {
        padding-top: 10px;

        input {
            &:focus-within {
                box-shadow: none;
                border-color: $light_clr;


            }

            select {
                &:focus-within {
                    box-shadow: none;
                    border-color: $light_clr;
                }
            }
        }

    }
}