.box {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: white;
    border-radius: 15px;
    position: relative;
    padding: 25px 30px;
    color: $primary-color2;

    &::after {
        content: '';
        background: $primary-color2;
        border-radius: 15px;
        height: 100%;
        width: 100%;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 0;
        clip-path: circle(10% at 0% 0%);
        transition: all .4s ease-in;
    }

    &:hover::after {
        clip-path: circle(100%);
    }

    &:hover {
        .content {
            color: $white !important;
            .d-link{
                color: $white !important;
            }
        }
    }

    .box-image {
        position: relative;
        z-index: 1; 
    }
}

.content {
    position: relative;
    z-index: 2;
    transition: all .4s ease-in;
    .d-link{
        color: #00CEC9;
        font-weight: 500;
        font-size: 22px !important;
    }

    }



// .cards {
//     .user-card {
//         border-radius: 10px;
//         box-shadow: 0 4px 24px #232a301a;
//         margin-bottom: 30px;
//         background: #187B98;
//         border-left: 2px solid #01adef;
//         border-right: 2px solid #01adef;
//         color: #fff;
//         padding: 30px;
//         position: relative;
//         // background: linear-gradient(171deg, #187B98, #000);
//         background: linear-gradient(171deg, #2bcaf9, #000);
//         transition: 0.5s all;
//         transition: 0.5s ease !important;

//         &:hover {
//         background: linear-gradient(171deg, #000, #2bcaf9);
//         transition: 0.5s all;
//         transition: 0.5s ease !important;



//         }

//         .u-card-heading {
//             h6 {
//                 font-size: 25px;
//             }

//         }

//         .u-card-des {
//             font-size: 20px;

//         }
//     }

//     .user-card-img {
//         color: #fff;
//         position: absolute;
//         padding: 8px;
//         border: 10px solid #89DCF0;
//         right: 8px;
//         top: 28px;
//         border-radius: 36%;
//         z-index: revert-layer;
//         // background: #1d7695;
//         // background: linear-gradient(171deg, #187B98, #000);


//     }

// }

// .bottom-img-my {
//     width: 100%;
//     height: 150px;
// }

// .for-custom-cal {
//     background-color: #fff;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     margin-top: 20px;


//     .new-custom-cal {
//         width: 80%;
//         height: auto;
//         padding: 0;
      
//     }
// }