* {
	padding: 0;
	margin: 0;
  }
  
  .container {
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: url("../Images/admin.jpeg");
	// background: url('../Images/book.jpg');
	// background:
    //     rgba(0, 0, 0, .55)
        
    //     url('../Images/book.jpg');
    // background-blend-mode: darken;
	// background: url('../Images/book1.webp');
	// background: url('../Images/book2.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
  
	.login_box {
	  background-color: transparent;
	  padding: 50px 20px;
	  width: 400px;
	  border-radius: 20px;
	  border: 1px solid #fff;
	  /* filter: blur(8px); */
	  backdrop-filter: blur(4px);
  
	 .login-reg-heading {
		text-align: center;
		margin-bottom: 20px;
		font-size: 40px;
		color: #fff;
	  }
  
	  .input_box {
		width: 90%;
		margin: auto;
		height: 40px;
		position: relative;
		margin-bottom: 20px;
  
		input {
		  width: 100%;
		  height: 40px;
		  box-sizing: border-box;
		  outline: none;
		  border: none;
		  padding: 0px 20px;
		  background-color: transparent;
		  border-bottom: 1px solid #fff;
		  color: #fff;
		  font-size: 18px;
		}
  
		label {
		  position: absolute;
		  top: 50%;
		  left: 10px;
		  transform: translateY(-50%);
		  font-size: 18px;
		  font-weight: 500;
		  color: #fff;
		  transition: .3s;
		}
  
		.icon {
		  position: absolute;
		  top: 50%;
		  right: 10px;
		  transform: translateY(-50%);
		  color: #fff;
		}
	  }
  
	  .rem {
		display: flex;
		justify-content: center;
		align-items: center;
		color: #fff;
		font-size: 14px;
  
		input {
		  margin-right: 5px;
		}
  
		a {
		  text-decoration: none;
		  margin-left: 5px;
		  color: #fff;
		  font-weight: bold;
		}
	  }
  
	  .login {
		display: flex;
		justify-content: center;
  
		button {
		  width: 200px;
		  height: 40px;
		  margin-top: 20px;
		  border-radius: 20px;
		  font-size: 18px;
		  font-weight: bold;
		  background-color: #fff;
		  border: none;
		  outline: none;
		  transition: .3s;
  
		  &:hover {
			cursor: pointer;
			background-color: transparent;
			color: #fff;
			border: 1px solid #fff;
		  }
		}
	  }
  
	//   .reg-log {
	// 	display: flex;
	// 	justify-content: center;
	// 	margin-top: 20px;
	// 	font-size: 14px;
	// 	color: #ffff;

	// 	span {
	// 		color: #fff;
	// 		font-weight: 600s;
	// 		text-decoration: underline;
	// 	}
  
	// 	a {
	// 	  text-decoration: none;
	// 	  margin-left: 5px;
	// 	  color: #fff;
	// 	  font-weight: bold;
	// 	}
	//   }
  
	  .input_box input:focus ~ label,
	  .input_box input:valid ~ label {
		top: 0;
	  }
	}
  }