.sidebar{
    
    .list-group {
        a{
            cursor: pointer;
            &:hover{
                background-color: #ffa901;
                color: #fff;
                border-radius: 8px;
            }
        }
    }
}
