.school-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;

    .s-img-div {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 120px;
        height: 120px;
        padding: 10px;
        border-radius: 44px;
        border: 1px solid #000;
        border-radius: 70px;
        background: transparent;
    }
}

.sidebar {
    transition: transform 0.5s ease;
    z-index: 1;
    position: fixed;

    @media (max-width:767px) {
        z-index: 3 !important;
    }

    .list-group {
        a {
            cursor: pointer;
            border-radius: 8px;
            border: unset !important;
            background-color: $bg-item !important;
            color: $white !important;
            transition: 0.2s all;

            &:hover {
                // background-color: #ffa901 !important;
                background-color: #00CEC9 !important;
                color: #fff;
                border-radius: 8px;
                transition: 0.2s all;

            }
        }

        .for-logout-btn {
            .logout-btn {
                width: 88%;
                position: absolute;
                bottom: 0;
            }

        }
    }


}

.sidebar-visible {
    transform: translateX(0);
}

.sidebar-hidden {
    transform: translateX(-100%);
}

.for-logout-btn {
    margin-bottom: 20px;
    border: none;
    border-radius: 10px;

    .list-group-item {
        border-radius: 20px;
        padding-bottom: 40px;
        bottom: 10px;
        background-color: $bg-item !important;
        color: $white !important;
        border: unset !important;

        &:hover {
            background-color: #00CEC9 !important;

        }
    }
}