.school-logo-main {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;

    .s-img-div {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 120px;
        // height: 120px;
        padding: 10px;
        border-radius: 44px;
        border: 1px solid $black;
        border-radius: 70px;
        background: transparent;
    }
}

.sidebar {
    transition: transform 0.5s ease;
    z-index: 1;
    position: fixed;

    @media (max-width:767px) {
        z-index: 3 !important;
    }

    .list-group {
        a {
            cursor: pointer;
            border-radius: 8px;
            border: unset !important;
            background-color: $bg-item !important;
            color: $white !important;
            transition: 0.2s all;

            &:hover {
           
                background-color: $primary-color2 !important;
                color: $white;
                border-radius: 8px;
                transition: 0.2s all;

            }
            &:active {
                background-color: $primary-color2   !important;
                 
            }
        }

        .logout {
            width: 82%;
            text-align: start;
            transition: 0.5 all;
        }

        .active {
            background-color: $primary-color2 !important;
        }

    }


}

.sidebar-visible {
    transform: translateX(0);
}

.sidebar-hidden {
    transform: translateX(-100%);
}

.for-logout-btn {
    margin-bottom: 20px;
    border: none;
    border-radius: 10px;
    transition: 0.5s all;

    .list-group-item {
        border-radius: 20px;
        padding-bottom: 40px;
        bottom: 10px;
        background-color: $bg-item !important;
        color: $white !important;
        border: unset !important;
        display: flex;
        justify-content: center;

        &:hover {
            background-color: $primary-color2 !important;

        }
    }
}



.sidebar-main {
    transition: width 0.3s;
}

.sidebar-open {
    width: 250px;
    /* Adjust as needed */
}





.fs-5 {
    transition: display 0.5s ease;
}

.fs-5-hidden {
    display: none;
}


.logout-collapse  {
    width: 65%;
}


.active-link {
    background-color: $primary-color2 !important;
  }


  

