* {
  padding: 0;
  margin: 0;
}

.form-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../Images/admin.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.form-container .login_box {
  background-color: transparent;
  padding: 50px 20px;
  width: 400px;
  border-radius: 20px;
  border: 1px solid #fff;
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
}
.form-container .login_box .login-reg-heading {
  text-align: center;
  margin-bottom: 40px;
  font-size: 40px;
  color: #fff;
}
.form-container .login_box .input_box {
  width: 90%;
  margin: auto;
  height: 40px;
  position: relative;
  margin-bottom: 30px;
}
.form-container .login_box .input_box input {
  width: 100%;
  height: 40px;
  box-sizing: border-box;
  padding: 0px 10px;
  background-color: transparent;
  color: #fff;
  font-size: 18px;
  padding-right: 52px;
  outline: none !important;
  border: none;
  border-bottom: 2px solid #fff;
  box-shadow: none !important;
}
.form-container .login_box .input_box input::-moz-placeholder {
  font-size: 18px;
  font-weight: 500;
  color: #fff;
}
.form-container .login_box .input_box input::placeholder {
  font-size: 18px;
  font-weight: 500;
  color: #fff;
}
.form-container .login_box .input_box .icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  color: #fff;
}
.form-container .login_box .login {
  display: flex;
  justify-content: center;
}
.form-container .login_box .login .sign-log-button {
  width: 200px;
  height: 40px;
  margin-top: 20px;
  border-radius: 20px;
  font-size: 18px;
  font-weight: bold;
  background-color: #fff;
  border: none;
  outline: none;
  transition: 0.3s;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
  text-decoration: none;
  border: 1px solid #fff;
}
.form-container .login_box .login .sign-log-button:hover {
  cursor: pointer;
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
}
@media (max-width: 576px) {
  .form-container .login_box {
    margin: 0 20px;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none !important;
}

th,
td {
  background-color: transparent !important;
}

.bg-green {
  background-color: #d1f3e0;
}

.bg-blue {
  background-color: #e1f1ff;
}

.bg-yellow {
  background-color: #fff2d8;
}

.bg-pink {
  background-color: #ffeaea;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}
input[type=number]::-webkit-inner-spin-button i.bi.bi-justify,
input[type=number]::-webkit-outer-spin-button i.bi.bi-justify {
  display: none !important;
}
input[type=number]::-webkit-inner-spin-button .form-control,
input[type=number]::-webkit-outer-spin-button .form-control {
  box-shadow: none !important;
  border-color: unset !important;
}
input[type=number]::-webkit-inner-spin-button .form-control:focus,
input[type=number]::-webkit-outer-spin-button .form-control:focus {
  box-shadow: unset !important;
  border-color: unset !important;
}
input[type=number]::-webkit-inner-spin-button input::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button input::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button input::-webkit-outer-spin-button,
input[type=number]::-webkit-outer-spin-button input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
  -webkit-appearance: none;
          appearance: none;
}

@media (max-width: 400px) {
  html,
  body {
    margin: 0 !important;
    padding: 0 !important;
    overflow-x: hidden !important;
  }
}
.sidebar {
  transition: transform 0.5s ease;
}
.sidebar .list-group a {
  cursor: pointer;
}
.sidebar .list-group a:hover {
  background-color: #ffa901;
  color: #fff;
  border-radius: 8px;
}
.sidebar .logout-btn {
  width: 88%;
}

.sidebar-visible {
  transform: translateX(0);
}

.sidebar-hidden {
  transform: translateX(-100%);
}

.for-logout-btn {
  margin-bottom: 20px;
  border: none;
  border-radius: 10px;
}
.for-logout-btn .list-group-item {
  border-radius: 20px;
  padding-bottom: 40px;
  bottom: 10px;
}
.for-logout-btn .list-group-item:hover {
  background-color: #ffa901;
}

.input-group .form-control::-moz-placeholder {
  font-size: 0.95rem;
  color: #aaa;
  font-style: italic;
}

.input-group .form-control::placeholder {
  font-size: 0.95rem;
  color: #aaa;
  font-style: italic;
}
.input-group .form-control:focus {
  box-shadow: none !important;
}
.input-group .btn {
  right: 0;
  bottom: -2px;
}

.navbar {
  position: relative;
}
.navbar .navbar-toggler {
  display: none;
}
.navbar .toggler {
  margin-right: 12px;
  z-index: 3;
}
@media (max-width: 1199px) {
  .navbar .toggler {
    position: absolute;
    right: 20px;
    top: 10px;
  }
}
@media (max-width: 478px) {
  .navbar .toggler {
    position: absolute;
    right: 20px;
    top: 10px;
  }
}
.navbar svg {
  color: #b3a3a3;
}
@media (max-width: 1199px) {
  .navbar div#collapsibleNavId {
    display: none !important;
  }
}

.dash {
  background-color: #F0F1F3 !important;
}
.dash .sidebar-cont {
  z-index: 2;
  position: fixed;
  height: 100vh;
  background-color: #ffffff;
  transition: all 0.5s ease-in-out;
}

.table-responsive {
  overflow-x: hidden !important;
  border-radius: 0.375rem;
  background: #ffffff;
  margin-top: 30px;
}
@media (max-width: 1199px) {
  .table-responsive {
    overflow-x: scroll !important;
  }
}
@media (max-width: 992px) {
  .table-responsive .table {
    width: 1100px !important;
  }
}
.table-responsive .table .btn-login {
  color: #014737;
  background-color: #bcf0da;
  border-radius: 12px;
  padding: 9px;
}
.table-responsive .table .btn-view {
  color: #771d1d;
  background-color: #fcd9bd;
  border-radius: 12px;
  padding: 9px;
  border: none;
}
.table-responsive .table .btn-block {
  color: #014737;
  background-color: #e15959;
  border-radius: 12px;
  padding: 9px;
}
.table-responsive .table .table-heading {
  margin: 1.5rem;
}

.cards .cards-img {
  border-radius: 50%;
  padding: 13px;
}

.table > :not(caption) > * > * {
  padding: 1rem 1.5rem !important;
}

.about-student {
  padding-top: 30px;
  margin: 0 30px 10px 30px;
}
.about-student .for-image-section {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.about-student .for-image-section .studemt-school-image {
  display: flex;
  border-radius: 10px;
  margin-bottom: 25px;
}
.about-student .for-image-section .studemt-school-image img {
  width: 200px;
  height: 200px;
  border-radius: 10px;
  margin-bottom: 10px;
}
.about-student .for-image-section .student-school {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.about-student .for-image-section .student-school .school-about {
  padding-left: 30px;
  padding-top: 20px;
}
.about-student .for-image-section .school-logo {
  padding-right: 40px;
  display: flex;
}
.about-student .for-image-section .school-logo img {
  width: 200px;
  height: 200px;
  border-radius: 10px;
  margin-bottom: 10px;
  border-radius: 100% !important;
}
.about-student .student-admin-form {
  background: #fff;
  padding: 30px;
  border-radius: 8px;
  padding-top: 40px;
  margin-bottom: 30px;
}
.about-student .student-admin-form .for-student-input {
  padding-top: 5px;
}
.about-student .student-admin-form .labal-title {
  margin-bottom: 10px;
  margin-top: 10px;
  display: block;
  color: #4b5563;
}
.about-student .student-admin-form input {
  box-shadow: none;
  outline: none;
}
.about-student .student-admin-form input:focus {
  box-shadow: none;
  outline: none;
  border: var(--bs-border-width) solid var(--bs-border-color);
}
.about-student .student-admin-form textarea:focus {
  box-shadow: none;
  outline: none;
  border: var(--bs-border-width) solid var(--bs-border-color);
}
.about-student input {
  box-shadow: none;
}
.about-student input:focus {
  box-shadow: none;
  outline: none;
}
.about-student .form-select {
  box-shadow: none;
}
.about-student .form-select:focus {
  outline: none;
  box-shadow: none;
  border: var(--bs-border-width) solid var(--bs-border-color);
}
.about-student .student-edit-btn {
  display: flex;
  justify-content: end;
}
.about-student .student-edit-btn .student-edit {
  display: flex;
  align-items: center;
  gap: 0.2rem;
  background-color: #042954;
  color: #000;
  border-radius: 8px;
  padding: 8px;
  color: #ffffff;
}

@media (max-width: 992px) {
  .school-logo {
    display: flex;
    width: 100%;
    justify-content: center;
  }
}
@media (max-width: 550px) {
  .school-name {
    font-size: 20px;
  }
  .school-address {
    font-size: 18px !important;
  }
  br {
    display: none;
  }
  .school-logo {
    display: flex;
    width: 100%;
    justify-content: center;
  }
  .about-student {
    margin: 0;
  }
  .for-image-section .studemt-school-image img {
    display: none;
  }
  .for-image-section .school-logo {
    width: 100% !important;
    display: flex;
    justify-content: center !important;
    padding-bottom: 15px;
    display: none;
  }
}
.custom-search-bar {
  margin-left: 25px;
  border-radius: 8px !important;
  outline: none;
  box-shadow: none;
  position: relative;
}
.custom-search-bar:focus {
  box-shadow: none !important;
  outline: none !important;
}

.students-search {
  position: absolute;
  top: 172px;
  right: 66%;
  font-size: 28px !important;
}

.top-head {
  padding: 1.5rem;
  justify-content: space-between;
  align-items: center;
}

.teacher-from {
  overflow-x: hidden !important;
  border-radius: 0.375rem;
  background: #ffffff;
  margin-top: 30px;
  padding: 1.5rem;
}
.teacher-from .form-group label {
  margin-bottom: 10px;
  display: block;
  color: #4b5563;
}
.teacher-from .form-group {
  margin-bottom: 1.3rem;
}
.teacher-from .form-group .form-control {
  background-color: #f0f1f3;
  box-shadow: none !important;
}
.teacher-from .form-group .btn-submit {
  color: #014737;
  background-color: #bcf0da;
  border: none;
  border-radius: 12px;
  padding: 12px 40px;
  font-size: 18px;
  font-weight: 500;
}
.teacher-from .form-group .add-btn {
  border: none;
  border-radius: 12px;
  padding: 12px 20px;
  font-size: 18px;
  font-weight: 500;
}

.table-head {
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 1.5rem;
  flex-wrap: wrap;
  justify-content: space-between;
}

.add-btn {
  display: flex;
  align-items: center;
  gap: 0.2rem;
  background-color: #bcf0da !important;
  color: #014737 !important;
  border-radius: 8px;
  padding: 8px;
  border: none !important;
}

.profile-pic {
  position: relative;
  height: 100px;
  width: 100px;
}
.profile-pic .img-container {
  position: relative;
  width: 100%;
  height: 100%;
}
.profile-pic .img-container:hover img {
  mix-blend-mode: difference;
}
.profile-pic .img-container img {
  border-radius: 50%;
  box-shadow: 0px 0px 5px 0px #c1c1c1;
  cursor: pointer;
  width: 100px;
  height: 100px;
  position: relative;
}
.profile-pic .img-container .edit-icon {
  position: absolute;
  color: #f0f1f3;
  bottom: 35px;
  right: 35px;
  border: 1px solid #f0f1f3;
  border-radius: 50%;
  cursor: pointer;
  visibility: hidden;
  font-size: 30px;
}
.profile-pic .img-container:hover .edit-icon {
  transition: all 0.3s ease-in-out;
  visibility: visible;
  border: 1px solid #f0f1f3;
  border-radius: 50%;
  padding: 3px;
}

.about-teacher {
  padding-top: 30px;
  margin: 0 30px 10px 30px;
}
.about-teacher .for-image-section {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 991px) {
  .about-teacher .for-image-section {
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
.about-teacher .for-image-section .teacher-school-image {
  display: flex;
  border-radius: 10px;
  margin-bottom: 25px;
}
@media (max-width: 420px) {
  .about-teacher .for-image-section .teacher-school-image {
    flex-wrap: wrap;
    justify-content: center;
  }
}
.about-teacher .for-image-section .teacher-school-image img {
  width: 200px;
  height: 200px;
  border-radius: 10px;
  margin-bottom: 10px;
}
.about-teacher .for-image-section .teacher-school {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.about-teacher .for-image-section .teacher-school .school-about {
  padding-left: 30px;
  padding-top: 20px;
}
.about-teacher .for-image-section .school-logo {
  padding-right: 40px;
  display: flex;
}
.about-teacher .for-image-section .school-logo img {
  width: 200px;
  height: 200px;
  border-radius: 10px;
  margin-bottom: 10px;
  border-radius: 100% !important;
}
.about-teacher .teacher-admin-form {
  background: #fff;
  padding: 30px;
  border-radius: 8px;
  padding-top: 40px;
  margin-bottom: 30px;
}
.about-teacher .teacher-admin-form .for-teacher-input {
  padding-top: 5px;
}
.about-teacher .teacher-admin-form .labal-title {
  margin-bottom: 10px;
  margin-top: 10px;
  display: block;
  color: #4b5563;
}
.about-teacher .teacher-admin-form input {
  box-shadow: none;
  outline: none;
}
.about-teacher .teacher-admin-form input:focus {
  box-shadow: none;
  outline: none;
  border: var(--bs-border-width) solid var(--bs-border-color);
}
.about-teacher input {
  box-shadow: none;
}
.about-teacher input:focus {
  box-shadow: none;
  outline: none;
}
.about-teacher .form-select {
  box-shadow: none;
}
.about-teacher .form-select:focus {
  outline: none;
  box-shadow: none;
  border: var(--bs-border-width) solid var(--bs-border-color);
}
.about-teacher .teacher-edit-btn {
  display: flex;
  justify-content: end;
}
.about-teacher .teacher-edit-btn .teacher-edit {
  display: flex;
  align-items: center;
  gap: 0.2rem;
  background-color: #042954;
  color: #000;
  border-radius: 8px;
  padding: 8px;
  color: #ffffff;
}

@media (max-width: 992px) {
  .school-logo {
    display: flex;
    width: 100%;
    justify-content: center;
  }
}
@media (max-width: 550px) {
  .school-name {
    font-size: 20px;
  }
  .school-address {
    font-size: 18px !important;
  }
  br {
    display: none;
  }
  .school-logo {
    display: flex;
    width: 100%;
    justify-content: center;
  }
  .about-teacher {
    margin: 0;
  }
  .for-image-section .studemt-school-image img {
    display: none;
  }
  .for-image-section .school-logo {
    width: 100% !important;
    display: flex;
    justify-content: center !important;
    padding-bottom: 15px;
    display: none;
  }
}/*# sourceMappingURL=Style.css.map */